// Font families
$main-font-family: 'Poppins', sans-serif;
$accent-font-family: 'Nunito', sans-serif;
$paragraph-main-font-family: 'Open Sans', sans-serif;

// Font sizes
$main-font-size: 14px;

// Colors
$brightest-color: #fff;
$gray-color: #565656;
$light-gray-color: #777;
$accent-color: #2250fc;
$darkest-color: #000;

// Backgrounds
$brightest-bg: #fff;
$gray-bg: #f7f9fb;